.container {
  
  position: relative;
  /* margin-bottom: 0.5rem; */
  border-radius: 0.7rem;
  /* padding-top: 0.3rem; */
  /* border: 1px solid red; */
}

.label {
  /* border: 2px solid yellow; */
  display: inline-block;
  margin-left: 1rem;
  color: #5f5f5f;
  font-size: 0.9rem;
}

.content {
  /* border: 2px solid blue; */
  color: red;
  padding: 0 0.5rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
}
